.recipe-image{
    height: auto;
    width: 200px;
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.black-forest{
    background-image: url('../images/black-forest.jpg');
}

.dark-background{
    background-size: cover;
    color: white;
}

/* unvisited link - default is blue */
.dark-background a:link {
    color: orange;
}
  
/* visited link - default is purple */
.dark-background a:visited {
    color: yellow;
}
  
/* mouse over link - default is blue */
.dark-background a:hover {
    color: orange;
}
  
/* selected link - default is red */
.dark-background a:active {
    color: greenyellow;
}

.swamp{
    background-image: url('../images/swamp.jpg');
}

.plains{
    background-image: url('../images/plains.jpg');
}

.meadows{
    background-image: url('../images/meadows.jpg');
}

.meadows div.recipes-title,
.meadows div .recipes-category{
    background-color: brown;
    padding: 10px;
    border: 5px solid white;
    box-sizing: border-box;
}

.recipes-title{
    margin: 0 auto;
    text-align: center;
    width: 620px;
    margin: 5px auto;
}

.recipes-index{
    text-align: center;
    border-spacing: 0;
}

.recipes-category{
    text-align: left;
    display: inline-block;
    width: 200px;
    margin: 5px 5px;
}